.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh;
  background: #19181F;

  @media (max-width: 500px) {
    padding-left: 32px;
    padding-right: 32px;  }
}

.title {
  font-size: 30px;
  text-align: center;
  color: #F9F9F9;

  @media (max-width: 500px) {
    font-size: 24px;
  }
}

.description {
  font-size: 13px;
  color: #E82D92;
  text-align: center;
  margin-top: 8px;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 56px;
  margin-top: 40px;

  @media (max-width: 750px) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
  }

  @media (max-width: 330px) {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}

.test {
  width: 130px;
  height: 200px;
  background: blue;
}

